
<% include ../partials/headerauthBook %>

    <div class="container">
       
        <div class="items">
            
            <div style="padding-bottom:10px;" class="row">
           
            <div class="col-md-9">
                <p class="text-right">
                    <p>
              <a class="btn btn-primary btn-large" href="/books/new">+ New Book</a>
 </p>
                    </p>
                </div>
        </div>
            <div class="row">
            <div class="col-md-12">
                <table class="table table-dark">
                    <thead>
                     <tr>
                    <th scope="col">Book Name</th>
                    <th scope="col">N.o Of chapters</th>
                    <th scope="col">Options</th>
                    
                  </tr>
                    </thead>
                    <tbody>
                    <% book.forEach(function(Book){ %>
                <tr>
                    <td>
                         <a href="/author/<%=user._id%>/books/<%=Book._id%>">
                    <img style="height: 125px;width: 100px;"class="img-thumbnail "src="<%=Book.image%>">
                    <p style="color:white;"><%=Book.title%></p>
                </a>
                
                    </td>
                    <td>
                       <p hidden> <%=c=0%></p>
                       <% Book.chapters.forEach( function(chapter,i){%>
                        <p hidden="display:hidden;"><%=c++ %></p>
                        <% })%>
                        <%=c %>
                        
                    </td>
                 <td>
                     <% if(currentUser &&Book.author.id.equals(currentUser._id)) {%>
                     <a class="btn btn-warning btn-sm" href="/books/<%=Book._id%>/edit">Edit</a>
                        <a href="/books/<%=Book._id%>/edit"></a>
                        <form class="deletecommentForm" style="display:inline;" action="/books/<%=Book._id%>?_method=DELETE" method="POST">
                             <button class="btn  btn-sm btn-danger " onclick=" return deleteButton()"  >Delete</button>
                        </form>
                        <% } %> 
                     
                </td>
                </tr>
                 <% })%>
                 </tbody>
                   </table>
                </div>
           
        </div>
        </div>
       
       
    </div>
    
    
    <script>
        setTimeout(function(){
            $('#Error').fadeOut('fast');
            $('#Success').fadeOut('fast');
        },5000)
    </script>
<script >

    
     $('.deletecommentForm').one('submit', function(e) {
    e.preventDefault();
      swal({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  type: 'warning',
  confirmButtonText: 'Yes, delete it!',
  cancelButtonText: 'No, cancel!',
  confirmButtonColor: '#FF1919',
  cancelButtonColor: '##8CD4F5',
  showCancelButton: true,
  
}).then((result) => {
   
  if (result.value) {
      $(this).submit();
    swal(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    )
  } else if (
    result.dismiss === "cancel" ||result.dismiss === "overlay"
  ) {
       location.reload(true);
      
      $(this).find('button').blur();
    swal(
      'Cancelled',
      'Your comment  is safe :)',
      'error'
    )
     
  }
})
    
});

</script>    

<% include ../partials/footer %>